@font-face {
   font-family: "Rubik";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/Rubik-Regular.woff2");
   src: local(""), url("../fonts/Rubik-Regular.woff2") format("woff2");
}

@font-face {
   font-family: "Rubik";
   font-style: normal;
   font-weight: 600;
   src: url("../fonts/Rubik-Bold.woff2");
   src: local(""), url("../fonts/Rubik-Regular.woff2") format("woff2");
}
