:root {
   --toastify-color-success: #5e81ac;
   --toastify-color-error: #bf616a;
}

body {
   background-color: $base-color;
   font-family: "Rubik", Arial, Helvetica, sans-serif;
   min-height: 100vh;
   color: $text-color;
}

a,
a:hover {
   color: $text-color;
   cursor: pointer;
}

a:hover {
   text-decoration: none;
}

header {
   box-shadow: 0px 7px 7px 2px rgba(76, 86, 106, 0.5);
}

.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

main {
   flex: 1 1 auto;
}

.desk-modal {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.4);
   display: flex;
   align-items: center;
   justify-content: center;
}

.admin,
.project-view,
.landing {
   padding: 100px 0;
}

.btn {
   color: $base-color;
   background-color: $alternate-color;

   &:hover {
      color: $text-color;
      background-color: $my-card-color;
      border: 1px solid $alternate-color;
   }

   &_alternate {
      color: $alternate-color;
      background-color: $base-color;
      white-space: nowrap;

      &:hover {
         background-color: $my-card-color;
      }
   }
}

.project {
   &__wrap {
      background-color: $alternate-color;
      border-radius: 20px;

      &_statuses {
         background-color: $column-light-color;
      }

      p {
         color: $alternate-text-color;
      }
   }

   &__table {
      padding: 20px;
      overflow: auto;
   }

   &__row {
      display: flex;
   }

   &__heading {
      flex: 1 0 0%;
      margin-right: 10px;
      min-width: 250px;

      &:last-child {
         margin-right: 0;
      }
   }

   &__column {
      padding: 10px;
      background-color: $column-light-color;
      border-radius: 10px;
      transition: background-color 0.4s ease;
      min-height: 320px;
      flex: 1 0 250px;
      margin-right: 10px;

      &:last-child {
         margin-right: 0;
      }

      &_over {
         background-color: $column-dark-color;
      }
   }

   &__item {
      display: block;
      margin: 0px 0px 5px 0px;
      text-decoration: none;

      &:last-child {
         margin: 0px 0px 0px 0px;
      }

      &_fantom {
         min-height: 50px;
      }
   }
}

.projects {
   padding: 100px 0;

   &__item {
      background-color: $column-light-color;
      transition: 0.3s ease;
      text-decoration: none;

      &:hover {
         background-color: $text-color;
         color: $column-light-color;
      }
   }
}

.task-card {
   padding: 20px 15px;
   background-color: $my-card-color;
   border: none;
   border-radius: 5px;
   cursor: pointer;

   &:hover {
      background-color: $base-color;
   }

   &__content {
      margin-bottom: 5px;

      &:last-child {
         margin: 0;
      }
   }
}

input {
   border-radius: 4px;
   border: 1px solid #aeaeae;
   line-height: 16px;
   padding: 6px 10px 5px;
}

.react-datepicker__input-container {
   width: auto;
}

.react-datepicker-wrapper {
   display: block;
}

.status-card {
   flex: 1 0 250px;
   cursor: grab;
   margin-bottom: 0;
   padding: 15px;
   background-color: $column-dark-color;

   &_plus {
      flex: 0 0 auto;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: default;

      svg {
         transition: 0.3s ease;
         cursor: pointer;
         color: $text-color;
         &:hover {
            color: $base-color;
         }
      }
   }
}
