$base-color: #d8dee9;
$alternate-color: #4c566a;
$text-color: #434c5e;
$alternate-text-color: #e5e9f0;
$my-card-color: #e5e9f0;
$white-color: #ffffff;
$column-dark-color: #868ea0;
$column-light-color: #b0b7c9;
$error-color: #bf616a;
$success-color: #5e81ac !default;
$success: #5e81ac !default;
$green: #5e81ac !default;
$container-max-widths: (
   sm: 540px,
   md: 720px,
   lg: 1160px,
   xl: 1340px,
   xxl: 1620px,
) !default;
